/* Base icon */
.m {
  display: inline-block;
  width: 1em;
  height: 1em;

  background-image: url("https://cdn.jsdelivr.net/gh/sathishdhud/maaney-awesome/m.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  vertical-align: -0.15em;
}

/* Sizes */
.m-sm { font-size: 14px; }
.m-md { font-size: 20px; }
.m-lg { font-size: 28px; }
.m-xl { font-size: 42px; }
